{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}T{% endblock %}
<h2>Graphical Representation</h2>
<div class="task-summary">
    <h3>Task Summary</h3>
    <ul class="task-list">
        {% for stage in stages %}
            <li>
                <strong>{{ stage.name }}:</strong> Progress: {{ stage.progress }}%, Due: {{ stage.due_date }}, {% if stage.completed %}Completed{% else %}Pending{% endif %}
            </li>
        {% endfor %}
    </ul>
</div>