{% extends 'frontsite/index.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Login {% endblock %}

{% block content %}
<div class="container well border rounded-3" style="margin:130px;margin-left:550px; display: flex; justify-content: center; align-items: center; width: 450px; height: 350px;">
    <div class="content-section " style="text-align: center; ">
        <h1 class="m-2 p-2" style="color: rgb(15, 179, 176);">Leaf Construction </h1>
        <div class="m-2 p-2" style="border-radius:80%">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-start p-2">
                    <button class="btn btn-primary text-light" >Login</button>
                    <a class="ms-3" href="{% url 'register' %}">Sign Up</a>
                </div>
                <p  class="d-flex justify-content-start p-2">
                    <a href="{% url 'password_reset' %}" class="text-decoration">Forgot your password?</a>
                </p>
                </form>
        </div>
    </div>
</div>
{% endblock %}
