{% extends 'frontsite/index.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}password_reset_form {% endblock %}

{% block content %}
<div class="container well" style="margin:130px; display: flex; justify-content: center; align-items: center; width: 450px; height: 350px;">
    <div class="content-section" style="text-align: center;">
        <h1>Reset Your Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
