body{
    color:grey;
}
.well{
    border:2px 2px 15px black;
}
h1{
    background-color: cyan;
}
.task-summary {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.task-summary h3 {
    margin-top: 0;
}
.task-list {
    list-style-type: none;
    padding: 0;
}
.task-list li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}