{% extends 'frontsite/index.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container-fluid well p-3"style="margin-top:100px;width:650px">
         <div class="content-section">
            <h1>login page</h1>
            <div class="m-3 p-3">
                  {% if messages%}
                  {% for message in messages %}
                  <div class="alert alert-{{message.tags}}">
                        {{message}}
                  </div>
                  {% endfor %}
            {% endif %}
               <form method="POST" autocomplete="off"> 
                  {% csrf_token%}           
                   {{form.as_p}}
                   <button class="text-light bg-primary">login</button>
                   <div class="form-group">
                        <button class="btn btn-outline-info" type="Submit" href="{% url 'register'%}">Sign Up</button>
                    </div>
               </form>
         </div>
</div>
</div>


{% endblock %}