<!-- client_onboarding.html -->
{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Client Onboarding{% endblock %}

{% block content %}
<h2>Confirm Delete</h2>
<p>Are you sure you want to delete the client {{ client.name }}?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit"class="btn btn-danger">Delete</button>
    <a href="{% url 'client_list' %}"   class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}