
{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Project List{% endblock %}

{% block content %}
    <h1>Project List</h1>
    <table class="table table-striped px-3 m- table-bordered table-hover" style="width: 1250px;">
        <thead>
            <tr>
                <th>Client</th>
                <th>Name</th>
                <th>Budget</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.client }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.description }}</td>
                <td class="button"     style="width: 200px;">
                    <a href="{% url 'project_edit' project.id %}" class="btn btn-warning btn-sm m-1 p-1">Update</a>
                    <a href="{% url 'project_delete' project.id %}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="{% url 'stage_details' project.id %}" class="btn btn-primary btn-sm  p-1">View Stages</a>
                    <a href="{% url 'stage_add' project.id %}" class="btn btn-success btn-sm  p-1">Add New Stage</a> <!-- Add New Stage button -->   
                    <a href="{% url 'expense_list' project.id %}" class="btn btn-primary btn-sm  m-1 p-1">Expenses</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'project_add' %}" class="btn btn-primary mt-3">Add New Project</a>
{% endblock %}
