{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Add New Project{% endblock %}
{% block content %}
    <h1>Add a New Project</h1>
    <h1>Create a New Project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'project_list' %}" class="btn btn-secondary mt-3">Back to Project List</a>
    </div>
{% endblock %}


